<!DOCTYPE html>
<html>
<head>
	<title>Auklės registracijos forma</title>
	<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<!--<form class="form-horizontal" method="POST" action="/register/nanny">-->
<fieldset>

<!-- Form Name -->
<legend>Registracijos forma</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name-and-surname"></label>  
  <div class="col-md-5">
  <input id="name-and-surname" name="name-and-surname" type="text" placeholder="Vardas ir Pavardė" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="adress"></label>  
  <div class="col-md-5">
  <input id="adress" name="adress" type="text" placeholder="Jūsų adresas" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="personalCode"></label>  
  <div class="col-md-5">
  <input id="personalCode" name="personalCode" type="text" placeholder="Asmens kodas" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email"></label>  
  <div class="col-md-5">
  <input id="email" name="email" type="text" placeholder="El. Pašto adresas" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="telNumber"></label>  
  <div class="col-md-5">
  <input id="telNumber" name="telNumber" type="text" placeholder="Telefono numeris" class="form-control input-md">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password"></label>
  <div class="col-md-5">
    <input id="password" name="password" type="password" placeholder="Slaptažodis" class="form-control input-md">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="registration"></label>
  <div class="col-md-8">
    <button id="registration" name="registration" class="btn btn-success">Registruotis</button>
    <button id="cancel" name="cancel" class="btn btn-danger">Atšaukti</button>
  </div>
</div>

</fieldset>
<!--</form>-->
<script src="/js/http.js"></script>
<script src="/js/sign-up-form-nanny.js"></script>
</body>
</html>