.make-me-fullscreen {
	height: 100vh;
	background-image: url('../images/baby-backgroud-dark.jpg');
	background-size: cover;
}

.form-design {
	width: 25%;
	background-color: white;
	padding: 25px;
	border-radius: 10px;
	margin-top: 100px;
}

.navbar {
	background-color: transparent;
}

