body {
	font-family: 'Raleway', sans-serif;
}


.make-me-fullscreen {
	height: 100vh;
	background-image: url('../images/baby-backgroud-dark.jpg');
	background-size: cover;
}

.make-me-fullscreen-without-image {
	background-image: url('../images/childish-white.jpg');
			background-size: auto;


}

.date-style {
	text-align: center;
}

.form-style {
	background-color: rgba(255, 255, 255, 0.8);;
	padding: 10px;
	border-radius: 10px;
	margin-top: 120px;
}

.form-name {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	text-align: center;
	margin-top: 5px;
	font-weight: bold;
}
.form-name-s {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	text-align: center;
	margin-top: 5px;
}


nav a {
	color:white !important;
	font-weight: 500;
}

.navbar-brand {
	margin-right: 50px;
}

.header-text {
	font-size: 60px;
	text-align: center;
	margin-bottom: 50px;
	margin-top:50px;

}

.round-image {
	width: 50%;
	border-radius: 50%;
	margin-bottom: 50px;
}

.logo-text {
font-family: 'Charmonman', cursive;
	font-size: 40px;
}

li {
	list-style: none;
}

.first-text-line {
	font-size: 30px;
	font-weight: bold;
}

.smaller-text-line {
	font-size: 20px;
}

