.make-me-fullscreen {
	height: 100vh;
	background-image: url('../images/baby-backgroud-dark.jpg');
	background-size: cover;
}

.form-horizontal {
}

.time-date {
	margin-left: auto;
	margin-right: auto;
}