<!DOCTYPE html>
<html>
<head>
  <title>Auklių paslaugos</title>
  <meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- additional code -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">


<link href="/css/style.css" rel="stylesheet" type="text/css">


</head>
<body>
  <!-- Navbar -->


<!-- First page -->
<div class="make-me-fullscreen">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">

<div class="row">
      <div class="col-md-8 col-sm-12">
<!-- Form  -->
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<!-- Select Basic -->
<div class="form-style">
<div class="form-group">
  <p class="form-name">Suraskite auklę!</p>

  <label class="col-md-12 control-label" for="selectbasic"></label>
  <div class="col-md-12">
    <select id="selectbasic" name="selectbasic" class="form-control n-region">
      <option value="0">Pasirinkitę vietą</option>
      <option value="r1">Žirmūnai</option>
      <option value="r2">Antakalnis</option>
      <option value="r3">Fabijoniškės</option>
      <option value="r4">Šeškinė</option>
      <option value="r5">Naujininkai</option>
      <option value="r6">Naujoji</option>
      <option value="r7">Lazdynai</option>
      <option value="r8">Karoliniškės</option>
      <option value="r9">Justiniškės</option>
      <option value="r10">Naujamiestis</option>
      <option value="r11">Pašilaičiai</option>
      <option value="r12">Senamiestis</option>
      <option value="r13">Šnipiškės</option>
      <option value="r14">Viršuliškės</option>
      <option value="r15">Pilaitė</option>
      <option value="r16">Žvėrynas</option>
      <option value="r17">Grigiškės</option>
      <option value="r18">Paneriai</option>
      <option value="r19">Užupis</option>
      <option value="r20">Gariūnai</option>
      <option value="r21">Belmontas</option>
      <option value="r22">Valakampiai</option>
      <option value="r23">Liepkalnis</option>
      <option value="r24">Baltupiai</option>
      <option value="r25">Jeruzalė</option>
      <option value="r26">Saltoniškės</option>
      <option value="r27">Santariškės</option>
      <option value="r28">Jeruzalė</option>
      <option value="r29">Saulėtekis</option>
      <option value="r30">Verkiai</option>
    </select>
  </div>
</div>

<!-- Date and time picker -->
<div class="date-style">
<div class="form-group time-date n-begindate">

  <label class="form-name-s">Pradžios data</label> <br>
<input type="date" name="beginningDate ">
<input type="time" name="beginningTime"> <br>


<div class="form-group time-date n-enddate">
  <label class="form-name-s">Pabaigos data</label> <br>
<input type="date" name="endingDate">
<input type="time" name="endingTime">
</div>


</div> 

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-12 control-label" for=""></label>
  <div class="col-md-12">
    <select id="" name="" class="form-control n-child-count">
      <option value="0">Pasirinkite vaikų kiekį</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="More">Daugiau</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-12 control-label" for="selectbasic"></label>
  <div class="col-md-12">
    <select id="selectbasic" name="selectbasic" class="form-control n-animal">
      <option value="0">Ar turite gyvūną?</option>
      <option value="petDog">Šunys</option>
      <option value="petCat">Katinai</option>
      <option value="petNo">Neturime</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-light n-find">Ieškoti</button>
  </div>
</div>

</fieldset>
</form>
</div>
<!-- End of form -->

</div>
</div>
</div>
</div>
<script src="/js/http.js"></script>
<script src="/js/index.js"></script>
</body>
</html>