<!DOCTYPE html>
<html>
<head>
  <title>Auklių paslaugos</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <!-- additional code -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Charmonman:700" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</head>
<body>

  <!-- Navbar -->

  <nav class="navbar navbar-expand-sm fixed-top navbar-light">
    <div class="container">
      <a class="navbar-brand logo-text" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Pagrindinis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tapk aukle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tėvų registracija</a>
          </li> 
          <li class="nav-item active">
            <a class="nav-link btn" href="#">Prisijungti</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- First page -->
  <div class="make-me-fullscreen">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-8 col-sm-12">
              <!-- Form  -->
              <form class="form-horizontal", method="GET", action="/list">
                <fieldset>

                  <!-- Form Name -->
                  <!-- Select Basic -->
                  <div class="form-style">
                    <div class="form-group">
                      <p class="form-name">Suraskite auklę!</p>

                      <label class="col-md-12 control-label" for="selectbasic"></label>
                      <div class="col-md-12">
                        <select id="selectbasic" name="region" class="form-control n-region">
                          <option value="0">Pasirinkitę vietą</option>
                          <option value="r1">Žirmūnai</option>
                          <option value="r2">Antakalnis</option>
                          <option value="r3">Fabijoniškės</option>
                          <option value="r4">Šeškinė</option>
                          <option value="r5">Naujininkai</option>
                          <option value="r6">Naujoji</option>
                          <option value="r7">Lazdynai</option>
                          <option value="r8">Karoliniškės</option>
                          <option value="r9">Justiniškės</option>
                          <option value="r10">Naujamiestis</option>
                          <option value="r11">Pašilaičiai</option>
                          <option value="r12">Senamiestis</option>
                          <option value="r13">Šnipiškės</option>
                          <option value="r14">Viršuliškės</option>
                          <option value="r15">Pilaitė</option>
                          <option value="r16">Žvėrynas</option>
                          <option value="r17">Grigiškės</option>
                          <option value="r18">Paneriai</option>
                          <option value="r19">Užupis</option>
                          <option value="r20">Gariūnai</option>
                          <option value="r21">Belmontas</option>
                          <option value="r22">Valakampiai</option>
                          <option value="r23">Liepkalnis</option>
                          <option value="r24">Baltupiai</option>
                          <option value="r25">Jeruzalė</option>
                          <option value="r26">Saltoniškės</option>
                          <option value="r27">Santariškės</option>
                          <option value="r28">Jeruzalė</option>
                          <option value="r29">Saulėtekis</option>
                          <option value="r30">Verkiai</option>
                        </select>
                      </div>
                    </div>

                    <!-- Date and time picker -->
                    <div class="date-style">
                      <div class="form-group time-date n-date">

                        <label class="form-name-s">Pradžios data</label> <br>
                        <input type="date" name="beginningDate ">
                        <input type="time" name="beginningTime"> <br>


                        <div class="form-group time-date">
                          <label class="form-name-s">Pabaigos data</label> <br>
                          <input type="date" name="endingDate">
                          <input type="time" name="endingTime">
                        </div>


                      </div> 

                      <!-- Select Basic -->
                      <div class="form-group">
                        <label class="col-md-12 control-label" for=""></label>
                        <div class="col-md-12">
                          <select id="" name="" class="form-control n-child-count">
                            <option value="0">Pasirinkite vaikų kiekį</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="More">Daugiau</option>
                          </select>
                        </div>
                      </div>

                      <!-- Select Basic -->
                      <div class="form-group">
                        <label class="col-md-12 control-label" for="selectbasic"></label>
                        <div class="col-md-12">
                          <select id="selectbasic" name="selectbasic" class="form-control n-animal">
                            <option value="0">Ar turite gyvūną?</option>
                            <option value="petDog">Šunį</option>
                            <option value="petCat">Katę</option>
                            <option value="petNo">Neturime</option>
                          </select>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                          <button id="singlebutton" name="singlebutton" class="btn btn-light  n-find">Ieškoti</button>
                        </div>
                      </div>

                    </fieldset>
                  </form>
                </div>
                <!-- End of form -->

              </div>
            </div>
          </div>
        </div>
</div>
<!-- Antras page -->

<div class="make-me-fullscreen-without-image">
  <div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-4 col-sm-12">
      <p class="header-text">Apie mus</p>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-6 col-sm-12 ">
    <p class="first-text-line">Pagalba kai Jums jos reikia</p>
    
    <p>Mūsų auklės, guvernantės, kūdikių ir vaikų prižiūrėtojos gali jums padėti.</p>
      <li>
        <ul>Priežiūra po pamokų</ul>
        <ul>Palydėjimas iš/į mokyklą ar darželį</ul>
        <ul>Išleisti Jus į romantiškus pasimatymus dviese ar šeimos šventes</ul>
        <ul>Ištikus netikėtiems gyvenimo įvykiams</ul>
        <ul>Vaiko priežiūra per naktį</ul>
      </li>
      <p class="first-text-line">Rask tobulą auklę savo šeimai</p>
      
      <p>Patyrę vaiko priežiūros specialistai prižiūrės Jūsų vaikus, ugdys jų charakterį, mokys skaityti, rašyti ar net
gi kalbėti. Vyresnius vaikučius palydės į mokyklą ir pasitiks juos grįžtant, užims juos iki kol grįšite iš darbo.
Mes tikriname visas mums dirbančias aukles.</p>
    </div>
    <div class="col-lg-6 col-sm-12">
    <p class="first-text-line">Auklių tikrinimo procesas</p>  
    <p class="smaller-text-line">Darbo istorija</p>
    <p>Mes pateikiame jums pilną auklės darbo istoriją ir buvusių darbdavių rekomendacijas, bei darbo
su vaikais patirtį.</p>
<p class="smaller-text-line">Asmeninis interviu</p>
<p>Mes tiesiogiai susitinkame su kieviena mūsų aukle. Kiekviena(s) kandidatė(as) yra įvertinama
mūsų psichologo darbui su vaikais. Jūs taip pat galite peržiūrėti kiekvienos auklės prisistatymo
video. Taip pat mes pateiksime profesionalų įvertinima apie auklės profesionalymo lygį, patirtį ir
patikimumą.</p>
    <p class="smaller-text-line">Darbo legalumas ir saugumas</p>
    <p>Visos mūsų auklės praeina nuodugnų patikrinimą. Mes galime patvirtinti, kad mūsų auklės
neturi kriminalinių ar seksualinių nusikaltimų praeities ir turi teisę legaliai dirbti Lietuvoje.</p>
<p class="smaller-text-line">Profesionalumas ir sauga</p>
<p>Mūsų auklės išklauso darbo su vaikais kursų, praeina pirmos pagalbos mokymus, periodiškai
atnaujina žinias bei gauna nuolatinę palaikymą darbo vietoje. Daugelis priežiūros specialistų turi
ilgametę darbo su vaikais patirtį. Mūsų specialistai yra apdrausti nuo incidentų ir garantuoja
profesionalią priežiūrą.</p>
  </div>
    </div>
  </div>
  </div>


  <!-- Atsiliepimai -->
<div class=" p-5 mx-auto mt-3 mb-3" style="max-width:500px;">
        <p class="header-text">Atsiliepimai</p>

  <div id="carouselTestimonial" class="carousel carousel-testimonial slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselTestimonial" data-slide-to="0" class="active"></li>
    <li data-target="#carouselTestimonial" data-slide-to="1"></li>
    <li data-target="#carouselTestimonial" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item text-center active">
    <div class="carousel-testimonial-img p-1 border rounded-circle m-auto">
      <img class="d-block w-100 rounded-circle" src="https://bootstrapplusplus.com/images/pro5.jpg" alt="First slide">
    </div>
    <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Rita Kartausgaitė</strong></h5>
    <p class="m-0 pt-3">Puikus aptarnavimas ir puikios auklės. Tikrai rekomenduoju naudotis jų paslaugomis ir kitiems žmonėms.</p>
    </div>
    <div class="carousel-item text-center">
    <div class="carousel-testimonial-img p-1 border rounded-circle m-auto">
      <img class="d-block w-100 rounded-circle" src="https://bootstrapplusplus.com/images/pro4.jpg" alt="Second slide">
    </div>
    <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Juozas Jonaitis</strong></h5>
    <p class="m-0 pt-3">Nesijaudinau palikęs savo vaikus vienus kartu su aukle. Aukščiausio lygio paslaugos.</p>
    </div>
    <div class="carousel-item text-center">
    <div class="carousel-testimonial-img p-1 border rounded-circle m-auto">
      <img class="d-block w-100 rounded-circle" src="https://bootstrapplusplus.com/images/pro6.jpg" alt="Third slide">
    </div>
    <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Jūratė Linkauskaitė</strong></h5>
    <p class="m-0 pt-3">Mano vaikai dar niekada nebuvo laimingi palikti su aukle. Šis kartas buvo pirmasis, kada grįžau namo ir vaikai buvo laimingi.</p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselTestimonial" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Prieš</span>
  </a>
  <a class="carousel-control-next" href="#carouselTestimonial" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Kitas</span>
  </a>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white bg-dark background-image">© 2018 Copyright:
    <a href="#"> Auklė 3000</a>
  </div>
  <!-- Copyright -->

</footer>

<script src="/js/http.js"></script>
<script src="/js/index.js"></script>
      </body>
      </html>